@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-md: 42rem;
}
/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(20px);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-in {
  animation: fadeIn 0.5s ease-out forwards;
}
.slide-in-from-right-5 {
  animation: slideInRight 0.1s ease-out forwards;
} */
